<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vxestate.prototypelabflow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Registration" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".RequestItemActivity"
            android:label="Request Item" />
        <activity
            android:name=".ScheduleActivity"
            android:label="Schedule" />
        <activity android:name=".ScanQRActivity"
            android:label="Scan QR Codes"/>
        <activity android:name=".AboutUsActivity"
            android:label="About Us"></activity>
    </application>

</manifest>